@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	margin: 5px;
	height: 1200px;
	background-color: rgba(61, 61, 61, 0.014);
	z-index: 1;
}

.hidden {
	display: none;
}

#wrap {
	border: 0px dotted red;
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	z-index: 1;
	background-color: rgb(255, 255, 255);
}

header {
	position: relative;
	height: 270px;
	margin-bottom: 10px;
}

header .head-line {
	position: absolute;
	height: 377px;
	width: 1200px;
	z-index: 2;
}

header .gnb {
	position: absolute;
	white-space: nowrap;
	width: 1200px;
	height: 70px;
	top: 304px;
	background-color: #564d4e;
	z-index: 3;
}

header .gnb ul {
	list-style: none;
	margin: 0;
	padding: 0;
	zoom: 1;
}

header .gnb li {
	float: left;
	list-style: none;
	position: relative;
	white-space: nowrap;
	font-size: 20px;
	height: 60px;
	padding: 3px;
	margin-left: 5px;
	margin-right: 15px;
}

header .gnb li:last-child {
	margin-right: 0px !important;
}

.direct_btn, .drop_btn {
	background-color: #564d4e;
	border: none;
	color: white;
	font-weight: bolder;
	height: 62px;
}

.drop_btn:hover {
	text-decoration: underline;
	text-decoration-color: rgb(255, 154, 154);
}

main {
	margin-top: 109px;
	position: relative;
	z-index: 1;
	border: 1px solid rgb(212, 210, 210);
	padding-bottom: 20px;
	zoom: 1;
	width: 1200px;
	height: auto;
}

main .lnb {
	position: relative;
	width: 300px;
	height: 2500px;
	float: left;
	background-color: rgb(233, 233, 233);
}

main .lnb .user-wrapper {
	display: block;
	overflow: hidden;
}

main .lnb #user-container {
	background: #f3f3f3;
	padding: 0 !important;
}

main .lnb .log-msg {
	width: 200px;
	height: 124px;
}

.log-msg img {
	margin: 5px;
	width: 120px;
	height: 120px;
	float: left
}

.log-msg p {
	padding-left: 20px;
	margin: 4px;
	width: 300px;
	height: 16px;
}

.log-msg #log-middle {
	margin-top: 10px;
}

#log-middle a {
	width: 300px;
	height: 12px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: blue;
	text-decoration: none;
}

.partition1 {
	height: 10px;
}

.footer_btn {
	width: 80px !important;
	height: 23px !important;
	font-size: 14px;
	text-align: center;
	float: right;
}

.footer_btn2 {
	width: 120px !important;
	height: 23px !important;
	font-size: 14px;
	text-align: center;
	float: right;
}

.btn_style2 {
	border: none;
	background: #f3f3f3;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	color: rgb(14, 17, 177) !important;
	transition: 550ms ease all;
	outline: none;
}

.btn_style2:hover {
	background: rgb(75, 45, 245);
	color: #f6f4f7 !important;
}

.log-footer {
	height: 26px;
}

.log-footer .padding {
	display: inline-block;
	width: 66px;
	height: 1px;
}

#user-container a {
	text-decoration: none;
	color: blue;
	border-radius: 6px;
	height: 40px;
	width: 30px;
}

main .main-content {
	color: black;
	line-height: 1.5;
	display: block;
	position: relative;
	width: 869px;
	height: 100%;
	float: right;
}


.main-content .main-container {
	display: block;
	height: 2500px;
	overflow: auto;
	border-right: 2px solid rgb(210, 210, 210);
}

.main-header {
	width: 100%;
	height: 200px;
}

.main-header .header-name {
	margin: 50px;
	margin-left: 0;
}

.main-header h1 {
	display: block;
	position: relative;
	font-weight: bold;
}

.main-header h1 a {
	text-decoration: none;
	border-bottom: 12px solid #8a8a8a;
	border-radius: 12px;
	color: rgb(82, 82, 82)
}

.main-header .header-search {
	display: block;
	width: 97%;
	float: none;
	height: 80px;
	border: 4px double rgb(179, 179, 179);
	border-radius: 6px;
	padding: 4px;
	padding-right: 0;
	margin: 0;
	margin-bottom: 20px;
	background-color: rgb(241, 241, 241);
}

.header-search form {
	width: 100%;
	place-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.header-search .deco-div {
	display: inline-block;
	width: 119px;
	height: 4px;
	background-color: rgb(207, 207, 207);
	margin-bottom: 5px;
}

tr {
	display: table-row;
}

thead {
	display: table-header-group;
}

.search_table {
	width: 100%;
	height: 40px;
	border-collapse: collapse;
	margin-top: 14px;
	display: inline-block;
}

.td_style1 select {
	width: 70px;
	height: 35px;
	border-radius: 6px;
	border-color: black;
}

.search_table .input_style3 {
	width: 424px;
	height: 35px;
	font-size: 21px;
	border-radius: 1px;
	border-color: rgb(189, 189, 189)
}

.search_table .btn_style3 {
	width: 71px;
	height: 35px;
	float: right;
	background: #6e6e6e;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	color: rgb(255, 255, 255);
	transition: 550ms ease all;
	outline: none;
	font-weight: bold;
}

.btn_style3:hover {
	transition: border-color .4s, border-radius .4s, box-shadow .4s,
		background .4s, color .4s, opacity .4s;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(156, 156, 156);
	border-radius: 10px;
	background: rgb(92, 92, 92);
}

.main-content {
	border: 0;
	height: 75%;
}

.main-content form {
	border: 0;
	height: auto;
	overflow: auto;
}

.board-table .blind {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.main-content legend {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.board-table {
	width: 99%;
	height: auto;
}

.board-list {
	overflow: auto;
}

.board-urg-list {
	overflow: auto;
	max-height: 400px;
}

.board-list-head {
	display: table-header-group;
}

.board-list-head tr {
	width: 99%;
	display: table-row;
}

.board-list-head .th_style1 {
	border-top: 2px solid rgb(177, 177, 177);
	border-bottom: 2px solid rgb(177, 177, 177);
	color: rgb(4, 1, 34);
	box-shadow: inset 0 -1px 0 #fff;
	text-align: center;
	font-size: 18px;
	background-color: rgb(247, 247, 247);
}

.board-table tbody {
	height: auto;
}

.board-table tbody td {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	table-layout: fixed;
	border-bottom: 1px solid rgb(206, 205, 205);
}

.board-table tbody td a {
	text-decoration: none;
	color: black;
}

.board-table tbody td a:hover {
	text-decoration: underline;
}

.board-table tbody tr:hover {
	background-color: rgb(240, 240, 240);
}

.num_style {
	width: 86px;
	max-width: 86px;
	font-size: 12px;
}

.title_style {
	width: 300px;
	max-width: 300px;
	font-size: 14px;
}

.cmt_style1 {
	margin-left: 3px;
	font-weight: bolder;
	color: blue;
}

.writer_style {
	width: 100px;
	max-width: 100px;
	font-size: 14px;
}

.red_point {
	color: red;
	font-weight: bolder;
}

.regdate_style {
	width: 170px;
	max-width: 170px;
	font-size: 14px;
}

.pub_style {
	width: 40px;
	font-size: 12px;
}

tr .hit_style {
	width: 65px;
	max-width: 65px;
}

.del_style {
	width: 40px;
	font-size: 12px;
}

.urg_style {
	width: 40px;
	font-size: 12px;
}

.list_style1 {
	height: 42px;
}

.urg_style2 {
	background-color: rgb(220, 220, 220);
}

#font_urg {
	color: red;
	font-weight: bolder;
}

.pager-container {
	width: 97%;
	display: block;
	position: relative;
	text-align: center;
	background-color: rgb(241, 241, 241);
}

.page-content {
	text-align: center;
}

.page-list {
	display: inline-block;
	color: blue;
	margin: 0;
	padding: 0;
}

.page-list a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	font-size: 16px;
	padding: 2px;
}

.red {
	text-decoration: underline !important;
	text-decoration-color: red !important;
}

.before, .next {
	display: inline-block;
	width: 37px;
	height: 28px;
	margin: 0;
	padding: 0;
	margin-left: 17px;
	margin-right: 17px;
}

.before span, .next span {
	margin: 0;
	padding: 0;
}

.pager-container li {
	list-style: none;
	float: left;
}

.current_page {
	float: right;
	font-size: 15px;
	color: red;
	font-weight: bold;
	margin-left: 5px;
}

.total_page {
	float: right;
	font-size: 15px;
	color: black;
}

.admin-button {
	height: 40px;
	width: 97%;
}

.admin_btn {
	display: block;
	border: none;
	text-decoration: none;
	background-color: rgb(221, 221, 221);
	border-radius: 6px;
	color: black;
	width: 90px;
	height: 26px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
	margin-left: 7px;
	margin-bottom: 10px;
	float: right;
}

.float_left {
	float: left;
}

.admin_btn:hover {
	transition: border-color .4s, border-radius .4s, box-shadow .4s,
		background .4s, color .4s, opacity .4s;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(156, 156, 156);
	border-radius: 6px;
	background: rgb(92, 92, 92);
}

.partition {
	width: 97%;
	height: 2px;
	background-color: rgb(120, 120, 120);
	margin-top: 10px;
	margin-bottom: 10px;
}

.photo_style {
	width: 370px;
	height: 300px;
	float: left;
	margin: 27px;
	padding: 15px;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 15px 0 0 15px;
	box-shadow: 10px 10px 5px rgb(220, 220, 220);
}

.photo_style img {
	width: 334px;
	height: 150px;
}

.photo_style .writer.style, .photo_style .regdate_style, .photo_style .hit_style
	{
	display: block;
}

.photo_style .hit_style, .photo_style .tityle_style, .photo_style .writer_style,
	.photo_style .regdate_style, .photo_style .hit_style {
	width: 260px;
	max-width: 260px;
	font-size: 14px;
}

.photo_style label {
	margin-right: 4px;
}

.remote-button {
	position: fixed;
	right: 130px;
	top: 470px;
	width: 110px;
	height: 250px;
}

.id_click {
	cursor: pointer;
}

.id_click:hover {
	border-bottom: 2px solid black;
}

.photo_style .id_drop_items {
	position: absolute;
	top: 206px;
	left: 26%;
	z-index: 9999;
	width: 100px;
	height: 47px;
	background-color: rgb(218, 218, 218);
	border: 2px solid black;
	border-radius: 3px;
	display: none;
}

table .id_drop_items {
	position: absolute;
	top: 31px;
	left: 53%;
	z-index: 9999;
	width: 100px;
	height: 47px;
	background-color: rgb(218, 218, 218);
	border: 2px solid black;
	border-radius: 3px;
	display: none;
}

.id_drop_items div:hover {
	cursor: pointer;
	background-color: rgb(182, 182, 182);
	font-weight: bolder;
}

/*타이틀 이미지*/
.nav_style, .nav_style li {
	padding-left: 0rem !important;
	box-sizing: unset;
}

.header-board {
	width: 1200px;
	height: 304px;
	overflow: hidden;
	border: 2px solid black;
}

.header-board img {
	width: 1200px;
	height: 304px;
}

.title-img-edit {
	position: absolute;
	right: 10px;
	top: 270px;
}

.title-img-edit:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
	font-weight: bolder;
}

.header-board button {
	font-weight: bolder;
	font-size: 16px;
	color: black;
	width: 50px;
	height: 27px;
	display: none;
}

.title-img-edit-ok {
	position: absolute;
	right: 10px;
	top: 270px;
	background-color: #03f703;
}

.title-img-edit-no {
	position: absolute;
	right: 70px;
	top: 270px;
	background-color: #ff5b5b;
}

.nav_style li {
	list-style: none;
	position: relative;
	white-space: nowrap;
	font-size: 20px;
	height: 30px;
	padding: 5px;
	text-align: center;
	border-top: 2px solid #aaa;
}

.nav_style li:last-child {
	border-bottom: 2px solid #aaa;
}

.nav_style li:hover {
	background: rgb(213, 213, 213);
}

.nav_style a {
	text-decoration: none;
	color: black;
}

.nav_style a:hover {
	font-weight: bolder;
	color: black;
}

.admin_tab_header {
	font-size: 25px !important;
	font-weight: bolder;
	height: 39px !important;
}

/*gnb 드랍다운 리스트 */
.children-category {
	display: none;
	color: rgb(44, 44, 44);
	border-top: none;
	border-radius: 10px;
	z-index: 3;
	position: absolute;
	top: 55px;
}

.children-category a {
	color: white;
	padding: 12px;
	text-decoration: none;
	display: block;
	background-color: #564d4e;
	text-align: center;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 10px;
}

.children-category a:hover {
	color: white;
	text-decoration: underline;
	text-decoration-color: rgb(255, 154, 154);
	transition: all 0.5s;
}

.child_board {
	display: none;
	color: rgb(44, 44, 44);
	border-top: none;
	border-radius: 10px;
	z-index: 3;
}

.parent_board {
	color: white;
	padding: 12px;
	text-decoration: none;
	display: block;
	background-color: #564d4e;
	text-align: center;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-radius: 10px;
}

.parent:hover .children-category {
	display: block;
	border-radius: 10px;
}

.drop_list {
	color: white;
	text-decoration: underline;
	text-decoration-color: rgb(255, 154, 154);
}

.drop_list:hover {
	display: block;
	border-radius: 10px;
}

.drop_btn:hover {
	text-decoration: underline;
	text-decoration-color: rgb(255, 154, 154);
}